/**********************
  GLOBAL CONFIGURATION
 *********************/
.breadcrumb {
  margin-top: 0.7518796992rem;
  margin-bottom: 0.7518796992rem;
}
.breadcrumb ol {
  display: flex;
}
.breadcrumb li {
  display: flex;
  align-items: center;
}
.breadcrumb [aria-current] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.page-content {
  line-height: 1.3;
}
.page-content > * {
  max-width: 65ch;
}
.page-content blockquote {
  border-inline-start: 1rem solid;
  padding-inline-start: 1.7689rem;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
  font-style: italic;
}
.page-content h1 {
  font-size: 3.12900721rem;
  margin-top: 1.7689rem;
}
.page-content h2 {
  font-size: 2.352637rem;
}
.page-content h3 {
  font-size: 1.7689rem;
}
.page-content h4 {
  font-size: 1.33rem;
}
.page-content ol,
.page-content ul {
  padding-inline-start: 3.12900721rem;
}
.page-content li + li {
  margin-top: 0.7518796992rem;
}
.page-content h2,
.page-content h3 {
  --flow-space: 3.12900721rem;
}
.page-content h2 + *,
.page-content h3 + * {
  --flow-space: 0.7518796992rem;
}

.sided {
  display: flex;
  flex-wrap: wrap;
}
.sided__content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}
.sided__aside {
  flex-basis: 20rem;
  flex-grow: 1;
}

.toc {
  line-height: 1.1;
}
.toc * {
  font-size: 1.33rem;
}
.toc h2 {
  font-variant: small-caps;
}
.toc button {
  all: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.toc button:focus svg {
  outline: 2px solid;
}

.toc-sidebar__container {
  position: sticky;
  top: 0;
}
.toc-sidebar__inner {
  max-height: 100vh;
  overflow-y: scroll;
}

/**
 * FLOW
 * Applies a margin to sibling elements based on a --flow-space custom property.
 */
.flow > * + * {
  margin-top: var(--flow-space, 1.7689rem);
}

pre {
  overflow: auto;
}
